body {
    background-color: #FADAD8
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    font-size: 2vw;
}
body {
    background-color: #F0E5DE;
}
#logo {
    margin: 0px;
    padding: 10px;
    font-family: Oswald, sans-serif;
    /*Remove box-shadow from website logo*/
    width: 18%;
    border-radius: 35%;
    text-shadow: 
    1px 1px 0px #AAABD3,
    -1px 1px 0px #AAABD3,
    1px -1px 0px #AAABD3,
    -1px -1px 0px #AAABD3;
}
ul {
    margin: 0px;
}
body > header {
    background-color: #AAABD3;
    color: #FADAD8;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}
#nav-ul {
    display: flex;

}
#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
.navbutton {
    color: rgb(246, 228, 205);
    text-decoration: none;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10%;
}
body > main article {
    width: 80%;
    margin: auto;
}
#main-content {
    display: flex;
    justify-content: space-around;
}
#main-content > div {
    width: 70%;
}
#coded-bias {
    color: #353866;
}
#orangutans {
    color: #353866;
}
#katseye {
    color: #353866;
}
form {
    text-align: center;

}
blockquote {
    font-weight: bold;
}
#newsletter {
    text-align: center;
    color: #353866;
}
body > footer {
    background-color: #AAABD3;
    display: flex;
}
img {
    border-radius: 50%;
}
#footer_logo {
    margin-left: 5%;
    color: #FADAD8;
}
#footer-ul {
    display: flex;
    list-style: none;
}
#footer-ul > div > li {
    margin-left: 25px;
}
#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
}